.accordeon__content {
  width: 100%;
  margin: 0 auto;
  padding: 1rem 1rem;
  height: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  overflow: hidden;
  border-top: 1px solid rgba(84, 84, 84, .7);
  cursor: pointer;
}
