.accordeon__title {
  width: fit-content;
  padding: 0;
  margin: 2rem 0;
  display: block;
  font-size: 2.5rem;
  line-height: 1.20;
  font-weight: 500;
  font-style: normal;
  color: #6b7b8c;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (hover: hover) {
  .accordeon__content:hover > .accordeon__title {
    margin-left: 5em;
    transition: margin-left 1s;
  }
}
