.accordeon__icon {
  width: fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
  font-size: 3rem;
  line-height: 1.20;
  font-weight: 900;
  font-style: normal;
  color: black;
  opacity: 0;
  transition: rotate .4s;
}

@media (hover: hover) {
  .accordeon__icon:hover {
    opacity: 1;
    transition: rotate(45deg);
  }
}
