.header__title {
  width: fit-content;
  padding: 0;
  margin: 0;
  font-size: 5rem;
  line-height: 1.20;
  font-weight: 900;
  font-style: normal;
  color: #6b7b8c;
}


@media screen and (max-width: 821px) {
  .header__title {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 584px) {
  .header__title {
    font-size: 3rem;
  }
}
